* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
 
body {
  font-family: Arial;
  height: 897px;
}
 
/* 创建两列 */
/* Left column */
.leftcolumn {   
  float: left;
  width: 25%;
  height: 100%;
  background:linear-gradient(-15deg, #b8cada,#271840);
  padding: 30px;
  text-align: center;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
 
/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 75%;
  height: 100%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
 
/* 导航条 */
.topnav {
  height: 5%;
  overflow: hidden;
  background-color: #333;
}
 
/* 导航条链接 */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
 
/* 链接颜色修改 */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.buttomcontent {
  height: 95%;
  overflow: scroll;
  background:linear-gradient(-15deg,#f3fff4, #ffefef);
}

.buttomcontent a {
  text-decoration: none;
}

.item {
  float: center;
  width: 90%;
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  background-color: #e0e0e0;
  justify-self: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.item .title {
  font-size: 50px;
  margin-bottom: 10px;
}

.item .description {
  font-size: 20px;
}

.item:hover {
  background-color: #271840;
  color: #b8cada;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.passage {
  float: center;
  width: 90%;
  padding: 40px;
  margin: 20px;
  font-size: large;
  border-radius: 25px;
  background-color: #e0e0e0;
  justify-self: center;
}

.passage h1 {
  margin-bottom: 15px;
}

.passage a {
  text-decoration: none;
  text-decoration-color: none;
}

.passage img {
  margin-top: 15px;
  margin-bottom: 15px;
}

.passage code {
  font-family: consolas;
  font-size: small;
  padding: 1px;
  margin: 2px;
  border-radius: 5px;
  background-color: #c5d0d8;
}

.passage .codeblock {
  font-family: consolas;
  font-size: small;
  padding: 1px;
  margin: 2px;
  border-radius: 5px;
  background-color: #c5d0d8;
}

/* 底部 */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}
 
/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
 
/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.circle-clip {
    width: 170px; /* 设置图片容器宽度 */
    height: 170px; /* 设置图片容器高度 */
    border-radius: 50%; /* 创建圆形 */
    overflow: hidden; /* 隐藏超出部分 */
    display: flex; /* 使用flex布局使图片居中 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.circle-clip img {
    width: 100%; /* 图片宽度撑满容器 */
    height: auto; /* 高度自动，保持图片比例 */
}
